@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    font-family: 'Lobster', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

h1 {
    background-color: aliceblue;
}

#change-table {
    margin: 2rem;
    padding: 0.2rem;
    border: 1.5px solid black;
    background-color: aliceblue;
}

th,
td {
    border: 1px solid black;
    width: 2rem;
    padding: 0.3rem;
}

#btn-check {
    width: 5rem;
    margin: auto;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: rgb(199, 245, 230);
    border-radius: 0.5rem;
    border: 0.5px;
    cursor: pointer;
}

#error-message {
    background-color: aliceblue;
}

.cash-img {
    max-width: 400px;
}