.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 5rem;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#change-table {
    margin: 2rem;
    padding: 0.2rem;
    border: 2px solid black;
}

th,
td {
    border: 2px solid black;
    width: 2rem;
    padding: 0.3rem;
}